@font-face {
  font-family: circular-book;
  src: url(./assets/fonts/circular-book.ttf);
}

* {
  font-family: "circular-book";
}
.jumbotron {
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  height: 80vh;
}

h1 {
  font-weight: bold;
}

footer h5,
footer p {
  color: white;
}

.btn,
#newsletter1 {
  background-color: transparent;
}

.btn:hover {
  background-color: rgba(36, 36, 36, 0.803);
}

.card-img-top {
  width: 20rem;
}

.events .btn {
  background-color: transparent;
}
.events .btn:hover {
  background-color: rgba(241, 241, 241, 0.803);
}
